@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DS-C3-G6 - Citas Medicas - Grupo #3</h1>
    <p>MisionTic 2022 - Ciclo 3 - <a href="https://github.com/Elena130399/Citas-medicas">Github Repository</a>.</p>
</div>
