@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div align="center"><font face="Goudy Old Style" ><p></p>
	<td width="287"><img src="imagenes/phoenix2.PNG" alt="cav" width="284" height="141"300" border="3"/></td>
  </p>	
  <h1>Inicie Sesion</h1>
  <strong><font color="black"></font></strong>
  <form action="Insertar_Datos.asp" method="get">
    <h3>Usuario:  &nbsp; &nbsp;   &nbsp;  &nbsp;
      <input type ="text" name="nombre">
      <br>
      Contraseña: &nbsp;
      <input type="password" name="pasw" value="">
      <br>
      </h5>
      <h4>
      <input name="ingresar" type=submit id="Inice sesion" value="Ingresar">
    </h3>
		                        <br>    
                        <a style="font-size:14px" href="./a_remember.php">Has olvidado tu Usuario/Contrase&ntilde;a?</a>
                        <br>
                        <a style="font-size:14px" href="infousuario.html" ><strong>Registrarse</strong></a>
                        <p>&nbsp;</p>
          </form>
        </div>
         


   