@page
@model CitasMedicas.App.Web.Pages.AddCiudadModel
@{
}


<h1>Asignar Ciudad a Sede</h1>

<form method = "post">
    <div class="form-group">
        <label for = "idSede">Sede</label>
        <input type="text" id="idSede" name="idSede" class="form-control" value="@Model.sede.Id" readonly>
        <input type="text" value="@Model.sede.NombreSede" readonly>
    </div>
    <div class="form-group">
        <label for="idCiudad">Ciudad</label>
        <select name="idCiudad" id="idCiudad" class="form-control">
            @foreach (var ciudad in Model.ciudades)
            {
                <option value ="@ciudad.Id">@ciudad.NombreCiudad</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary btn-block" >Asignar Ciudad</button>
</form>
<a class="btn btn-secondary" asp-page="./IndexSedes">volver</a>
