@page
@model Persona
@{

}


<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <link rel="stylesheet" href="css/estilo.css" type="text/css" media="all"/>
</head>
<body>

<center><div id="global">
<div align="left" id="cabecera">
<table>

<tr>
<td width="246">
<img src="imagenes/medicina1.jpg" alt="cav" width="320 height="260" border="3"/>
</td>
<td width="472">
<h2><center>
  <p style="color:#FFFFFF";><img src="imagenes/BOGPAS.jpg" width="372" height="85">    </p></center></h2>
</td>
<td width="287"><img src="imagenes/bal.jpg" alt="cav" width="284" height="141"300" border="3"/></td>
</tr> 
</table>
</div>
<div id="menu">

</br></br></br></br>
<div align="center"><font face="Edwardian Script ITC"><p></p>
	<td width="287"><img src="imagenes/phoenix2.PNG" alt="cav" width="284" height="141"300" border="3"/></td>
  </p>	
  <h1>Inicie Sesion</h1>
  <strong><font color="black"></font></strong>
  <form action="Insertar_Datos.php" method="get">
    <h3>Usuario:  &nbsp; &nbsp;   &nbsp;  &nbsp;
      <input type ="text" name="nombre">
      <br>
      Contraseña: &nbsp;
      <input type="password" name="pasw" value="">
      <br>
      </h5>
      <h4>
      <input name="ingesar" type=submit id="ingesar" value="Ingresar">
    </h3>
  </form>
  <form action="Insertar_Datos.php" method="get">
  </form>
  <form action="Insertar_Datos.php" method="get">
  </form>
	<td width="287">&nbsp;</td>
  <h1>&nbsp;</h1>
  <h1>&nbsp;</h1>
  <form action="Insertar_Datos.php" method="get">
  </a>
  </form>
</div>

</div>
<div id="cuerpo"><br> 
<br> 
<br> 
	<td width="287"><img src="imagenes/esc.png" alt="cav" " border=""/></td>	
<br> 
<br>
<br>
	<br>
	<br>
<td width="287"><img src="imagenes/medicina2.PNG" alt="cav" width="224" height="141"300" border="0"/></td>
<br>

</div>
<div id="piedepagina">
  <p><a href="http://www.facebook.com" target="_blank"><img src="imagenes/face1.png" alt="face" width="43" height="51"20"  /></a>&nbsp;
    &nbsp&nbsp&nbsp&nbsp
    <a href="http://www.instagram.com" target="_blank"><img src="imagenes/insta.jpg" alt="face" width="34" height="48"20"  /></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <img src="imagenes/wap.png" alt="wap" width="29" height="48" title="3203391119"20"  /></p>
  
</div>
</div></center>
</body>
</html>