@page
@using CitasMedicas.App.Dominio
@model CitasMedicas.App.Web.Pages.Medicos.CreateMedicoModel

@{
}

<h1>Crear Un Nuevo Medico</h1>
<form method="POST">

    <div class="form-group">
        <label asp-for="medico.Nombre"></label>
        <input asp-for="medico.Nombre" class="form-control">
    </div>

<div class="form-group">
        <label asp-for="medico.Apellidos"></label>
        <input asp-for="medico.Apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="medico.NumDoc"></label>
        <input asp-for="medico.NumDoc" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="medico.NumeroTelefono"></label>
        <input asp-for="medico.NumeroTelefono" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="medico.Direccion"></label>
        <input asp-for="medico.Direccion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="medico.Correo"></label>
        <input asp-for="medico.Correo" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="medico.FechaNacimiento"></label>
        <input asp-for="medico.FechaNacimiento" class="form-control" type="date" value="2000-01-01">
    </div>
    <div class="form-group">
        <label asp-for="medico.Genero"></label>
        <select asp-items="Html.GetEnumSelectList<Genero>()" class="form-control"></select>
    </div>



    <div class="form-group">
        <label asp-for="medico.Codigo" ></label>
        <input asp-for="medico.Codigo" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="medico.Especializacion" ></label>
        <select asp-items="Html.GetEnumSelectList<Especializacion>()" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="medico.TipoMedico" ></label>
        <input asp-for="medico.TipoMedico" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="medico.RegistroMedico" ></label>
        <input asp-for="medico.RegistroMedico" class="form-control">
    </div>


 <button type="submit" class="btn btn-primary" >Crear Medico</button>

</form>

<a class="btn btn-secondary" asp-page="./IndexMedicos" >Volver</a>


    <div class="form-group">
        <label asp-for="medico.Correo" class="form-control"></label>
        <input asp-for="medico.Correo" class="form-control">
        <span asp-validation-for="medico.Correo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="medico.NumeroTelefono" class="form-control"></label>
        <input asp-for="medico.NumeroTelefono" class="form-control">
        <span asp-validation-for="medico.NumeroTelefono" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="medico.Sede" class="form-control"></label>
        <input asp-for="medico.Sede" class="form-control">
        <span asp-validation-for="medico.Sede" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="medico.Codigo" class="form-codigo"></label>
        <input asp-for="medico.Codigo" class="form-codigo">
        <span asp-validation-for="medico.Codigo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="medico.Especializacion" class="form-especializacion"></label>
        <input asp-for="medico.Especializacion" class="form-especializacion">
        <span asp-validation-for="medico.Especializacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="medico.TipoMedico" class="form-tipoMedico"></label>
        <input asp-for="medico.TipoMedico" class="form-tipoMedico">
        <span asp-validation-for="medico.TipoMedico" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="medico.Ciudad" class="form-ciudad"></label>
        <input asp-for="medico.Ciudad" class="form-ciudad">
        <span asp-validation-for="medico.Ciudad" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" >Crear Medico</button>

</form>
    <a class="btn btn-secondary" asp-page="./IndexMedicos" >Volver</a>

