@page
@using CitasMedicas.App.Dominio
@model CitasMedicas.App.Web.Pages.Ciudades.CreateCiudadModel
@{
}

<h1>Crear Ciudad</h1>
<form method="POST">

    <div class="form-group">
        <label asp-for="ciudad.NombreCiudad"></label>
        <input asp-for="ciudad.NombreCiudad" class="form-control">
    </div>

<!-- FG -->
    <button type="submit" class="btn btn-primary" >Crear Ciudad </button>

</form>
    <a class="btn btn-secondary" asp-page="./IndexCiudades" >Volver</a>

