@page
@using CitasMedicas.App.Dominio
@model CitasMedicas.App.Web.Pages.Ciudades.EditCiudadModel
@{
}

<h1>Editar Ciudad</h1>
<form method="POST">

    <div class="form-group">
        <label asp-for="ciudad.Id"></label>
        <input asp-for="ciudad.Id" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label asp-for="ciudad.NombreCiudad"></label>
        <input asp-for="ciudad.NombreCiudad" class="form-control">
    </div>


 <button type="submit" class="btn btn-primary" >Guardar</button>

</form>

<a class="btn btn-secondary" asp-page="./IndexCiudades" >Volver</a>
